.gridContainer {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 113px minmax(10px, auto) 80px;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;
}