.tablaBody tr td {    
    height: 50px;
    border-bottom:1px  solid black;
    text-align: center;
}

.encabezado{
    background-color: lightgray;
    text-align: center;
}
.tabla {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.tablaFooter td{
    text-align: center;

}

