.comoComprar{
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}


.comoComprarPregunta {
    @extend .comoComprarRespuesta;
    font-weight: bold;
    
}

.comoComprarRespuesta {
    @include prop-texto('habibi', $tamanio-texto-web, justify, none, none);
    margin: 10px;
    padding: 0;
    
}