

.espacioCarrousel {
    //background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    //color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 500px;
    height: 360px;
    margin-bottom: 40px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: lightgrey;
  }

  .swiper-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    &:hover{
        cursor: pointer;
    }
  }

main {
    grid-area: main;
    section{
        h1{
            @include prop-texto('Habibi', $tamnio-h1-web, center, 100px, none);
        }
        h2{
            @include prop-texto('Gotu', $tamnio-h2-web, center, 100px, none);

        }
    }
}

.bannerDecora{
    background-image: url("../img/fondoBanne.jpg"); 
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h1{
        line-height: 350px;
        vertical-align:middle;
    }
}

.destacados {
    width: 100%;
}

.espacioTarjetas{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    gap: 20px;
    margin-top: 20px;
    min-height: 500px;
}

.tarjeta {
    @include prop-texto('Gotu', $tamanio-texto-web, center, none, none);
    div img{
        width: 238px;
        height: 159px;
    }
}

.tarjetaImg{
    width: 238px;
    height: 159px;
    box-shadow: 14px 14px 26px 7px rgba(0,0,0,0.33);
    border-radius: 10px;
    overflow: hidden;
} 

