
@media (max-width: 576px){
    /*=========== mobile view - index ===============*/

    section{
        margin: 20px;
        h1{
            font-size: $tamanio-h1-mobile;
            text-align: center;
        }
    } 

    .bannerDecora{
        background-image: url("../img/fondoBanne_mobile.jpg"); 
        width: 100%;
        height: 142px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .espacioTarjetas  {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 40px;
    }

   

    main{
        section{
            h2{
                font-family: 'Gotu';
                font-size: $tamanio-h2-mobile;
                text-align: center;
            }
        } 
    } 

    /*======== QUIENES SOMOS MOBILE VIEW ========*/
    .gridContainer {
        
        grid-template-columns: 1fr;
        grid-template-rows: 113px minmax(10px, auto) 80px;
        grid-template-areas: 
        "header "
        "main "
        "footer "
        ;
    }

    .ajustarContenido{
        width: 95%;
}
    

    /*======== PRODUCTOS MOBILE VIEW ========*/
        
    .seccionTarjetas{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
        padding: 0px;
        
    }

    .cardProductoNombre{
        font-size: $tamanio-texto-mobile;
    }

    .cardProductoPrecio{
        font-size: $tamanio-texto-mobile;
    }

    

    .cardProductoComentario{
        @extend .cardProductoNombre;
        height: 90px;
    }

    /*======== COMO COMPRAR MOBILE VIEW ======*/

    .comoComprar{
        width: 95%;
        p{
            font-size: $tamanio-texto-web;
        }
    } 

/*======== CONTACTOS MOBILE VIEW ======*/
    .form-label{
        @include prop-texto('habibi', $tamanio-texto-web, justify, none, none );
    }

    /*======= FOOTER MOBILE VIEW ======*/
    .footer {
        font-size: 8px;
    }
    
    .datosContacto {
        width: 50%;
        text-align: left;
        margin-left: 15px;
    }

    .redesSociales{
        width: 50%;
        text-align: right;
        margin-right: 15px;
    }


    .tamanioLogos {
    height: 20px;
    width: 20px;
    }
    .letras{    
        font-size: 0.5em;
        background-color: lightgray;
        font-family: 'habibi';
        justify-content: center;
        align-items: center;
        h2{
            font-size: 15px;
        }
    }
    

}